h1 {
    text-align: center;
}

img {
    width: 25%;
}

.cell {
    background-color: lightgrey;
    border: solid 1px black;
    border-radius: 8px;
    display: grid;
    justify-items: center;
    margin: 2% 25%;
}
