h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.artist {
    width: auto;
    margin: 2%;
    display: grid;
    justify-items: center;
}

.content {
    background-color: lightgrey;
    display: flex;
    border: solid 1px black;
    border-radius: 8px;
    margin: 1% 2%;
    justify-items: center;
}

img {
    width: 50%;
    padding: 2%;
}
