h1, h2 {
    text-align: center;
}

img {
    padding: 2%;
    width: 50%;
}

.artist {
    display: grid;
    justify-items: center;
    margin: 2%;
    width: auto;
}

.content {
    background-color: lightgrey;
    border: solid 1px black;
    border-radius: 8px;
    display: flex;
    justify-items: center;
    margin: 1% 2%;
}
