h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.artist {
    width: 50%;
    margin: 2% 25%;
    border: solid black 1px;
    border-radius: 4px;
    display: grid;
    justify-content: center;
    justify-items: center;
}

img {
    width: 50%;
    padding: 2%;
}
